body{
	background-image: url("../images/promobg.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-size: cover;
}

#back{
	padding-top: 15px;
	padding-right: 26px;
	padding-bottom: 15px;
	padding-left: 26px;
	background-color: #B8BBD8;
	cursor: pointer;
	color: white;
}

h1{
	border: 1px solid white;
	font-family: sans-serif;
	text-align: center;
	margin-top: auto;
	margin-left: 35%;
	margin-right: 35%;
	padding: 15px;
	color: white;
}

div{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	font-family: sans-serif;
}

table{
	border: 1px solid black;
	width: 100%;
}

th{
	border: 1px solid black;
}

td{
	border: 1px solid black;
	text-align: center;
}