body{
	background-image: url("../images/food.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-size: cover;
	
}

ul.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
	overflow: hidden;
	font-family: sans-serif;
}

li.menu{
	float: left;
}


.th1{
	background-color: #4CAF50;
	color :white;
	padding:8px;
	text-align:center;
	
}





.rtext{
	
	color:white;
	font-family: sans-serif;
}
.rtext2{
	
	color:white;
	font-family: sans-serif;
	padding:30px
	
}


a.menu{
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

a.menu:hover{
	background-color: #b2beb5;
}

ul.list{
	list-style-type: none;
	margin-left: 92%;
	padding: 0;
}

#logo{
	width: 15%;
}

#avatar{
	width: 5%;
	margin-left: 95%;
	display: inline;
}

#btn{
	padding-right: 41%;
}

#recipes{
	width: 50%;
}

#toprated{
	width: 50%;
}

#promotions{
	width: 50%;
}

#feedback{
	width: 50%;
}

#wowmetxt{
	font-family: sans-serif;
	font-size: 33px;
	color: white;
	font-weight: bold;
}

.tabletxt{
	font-family: sans-serif;
	font-size: 24px;
	color: white;
	font-weight: bold;
}

footer{
	background-color: black;
	font-family: sans-serif;
	color: white;
	font-size: 12px;
}


/*---------------------------------*/


.center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-allign: center;
}


.label1{

	width:150px;
  margin-top: 150;
  margin-bottom: auto;
  margin-left:50px;
  margin-right:auto;
  font-size:17px;
}

.label2{

position :absolute;
Top:65%;
left:;
right:70%;
}

.label3{

position :absolute;
Top:100%;
left:20%;
right:;
}


.label4{
width:150px;
position :absolute;
Top:120%;
left:20%;
right:;
}

.label5{

position :absolute;
Top:65%;
left:;
right:40%;
}

.label6{

position :absolute;
Top:90%;
left:;
right:72%;
}

.inputname{

position :absolute;
Top:75%;
left:20%;
right:;
overflow: hidden;
}

.label1img{

	width:150px;
  margin-top: 10px;;
  margin-bottom: 10px;
  margin-left:50px;
}

.star{
	position :absolute;
Top:75%;
left:50%;
right:;
	
}

/*.button{
	
	margin-left:-150px;
	
}

.button1{
	
		position :absolute;
Top:75%;
left:50%;
right:;
	
}*/

.f1{
	
	background-color:white;
}

.tableimg {
	width:150px;
  margin-top: 50px;;
  margin-bottom: 50px;
  margin-left:50px;
}

.txtline{
	width:450px;
  margin-top: 10px;;
  margin-bottom: 20px;
  margin-left:-150px;
  
}	

.txtline2{
	width:450px;
  margin-top: 10px;;
  margin-bottom: 10px;
  margin-left:-50px;
  
}	

.table{
	background-color:white;
	width:100%;
}


}
.menu li{
	display:block;
	font-color:white;
	padding:5px 5px;
	
}




 
.footer{
    padding-bottom: 150px;
    margin-bottom: -100px;
	text-align:center;
	background-color:black;
	
	
 } 
 

 
 
 
 
 
 
  
 /**rating star*/
 &#x2605{
    margin: 0;
    padding: 0;
}
.rate {
	position :absolute;
	Top:75%;
	left:50%;
	right:;
    float: left;
    height: 50px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
